<html>
<head>
	<title>Drizzly</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<header>
	<h1>Drizzly</h1>

	<ul>
		<li>Home</li>
		<li>Profile</l1>
		<li>Log Out</l1>
		<li>Log In</li>
		<li>Sign Up</l1>
	</ul>
</header>
<section>
	<div id="location_search">
		<h4>Search a new location</h4>
		<input type="text" placeholder="City">
		<input type="text" placeholder="State">
		<input type="submit" value="Let's go">
	</div>

	<div id="favorite">
		<h4>Favorite List</h4>
		<select>
  		<option value="volvo">Volvo</option>
  		<option value="saab">Saab</option>
  		<option value="mercedes">Mercedes</option>
  		<option value="audi">Audi</option>
		</select>
	</div>
	
</section>	
<footer>
	&copy 2015 Drizzly, Inc.
</footer>
</body>
</html>
