body {
	font-family: Open Sans;
	width: 70%;
	margin: auto;
	background-image: url("https://ununsplash.imgix.net/reserve/D9xlw7UxTBqQw5sLf8cJ_reef%20insp-72.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050");
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	padding-top: 30px;
}

ul li {
	float: right;
	padding-left: 20px;
}

header {
	height: 20%;
}

section {
	height: 65%;
}

footer {
	padding-top: 20px;
	color: #fff;
	height: 15%;
	text-align: center;
}
#location_search {
	float: left;
}
#favorite {
	float: right;
}
